@use "./base/fonts" as *;
@use './base/reset';
@use './base/mixins' as *;
@use './base/variables' as *;
@import url("./base/icomoon/style.css");

body {
  width: 100%;
  margin: auto;
}

.todoApp {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 28px;
  background-color: #eef3f6;
  font-family: Roboto;
  font-size: 16px;
  width: 570px;
  margin: auto;
  &__form {
    position: relative;
    width: 100%;
    background-color: $green;
    height: 105px;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    &__button {
      position: absolute;
      font-size: 30px;
      top: 20px;
      right: 20px;
      width: 66px;
      height: 66px;
      background-color: white;
      border-radius: 50%;
      align-items: center;
      display: flex;
      justify-content: center;
      color: black;
      &:hover {
        @include animation;
        animation: pulse 2s infinite;
      }
    }
    &__input {
      width: calc(100% - 33px);
      height: 66px;
      border-radius: 8px;
      border-width: 0;
      outline: none;
      padding: 25px;
      background-color: rgba(255, 255, 255, 0.3);
      color: white;
      font-size: 16px;
      &::placeholder {
        color: white;
        font-size: 16px;
        opacity: 0.8;
      }
      &--error {
        background-color: red;
      }
    }
  }
  &__list {
    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @extend %button-base;
      .icon--remove {
        align-content: center;
        font-size: 30px;
        color: gray;
        border-right: 2px solid #b9f8ec;
        width: 50px;
        &:hover {
          color: red;
        }
      }
      .icon--check {
        font-size: 30px;
        color: gray;

        &:hover {
          color: #19ba99;
        }
      }
      .text {
        width: 340px;
      }
    }
  }
}
