@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("./fonts/icon/css/icon.css");
@import url("./base/icomoon/style.css");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.todoApp__list__item {
  border-radius: 7px;
  font-size: 16px;
  padding: 20px;
  margin-bottom: 15px;
  background-color: white;
}

body {
  width: 100%;
  margin: auto;
}

.todoApp {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 28px;
  background-color: #eef3f6;
  font-family: Roboto;
  font-size: 16px;
  width: 570px;
  margin: auto;
}
.todoApp__form {
  position: relative;
  width: 100%;
  background-color: #19ba99;
  height: 105px;
  padding: 20px;
  border-radius: 12px;
}
.todoApp__form__button {
  position: absolute;
  font-size: 30px;
  top: 20px;
  right: 20px;
  width: 66px;
  height: 66px;
  background-color: white;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #19ba99;
}
.todoApp__form__button:hover {
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
.todoApp__form__input {
  width: calc(100% - 33px);
  height: 66px;
  border-radius: 8px;
  border-width: 0;
  outline: none;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  font-size: 16px;
}
.todoApp__form__input::placeholder {
  color: white;
  font-size: 16px;
  opacity: 0.8;
}
.todoApp__form__input--error {
  background-color: red;
}
.todoApp__list {
  padding: 20px;
}
.todoApp__list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todoApp__list__item .text {
  margin-right: auto;
}
.todoApp__list__item .icon--circled {
  position: relative;
}
.todoApp__list__item .icon--circled2 {
  position: absolute;
  color: #19ba99;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -34px;
  opacity: 0;
}
.todoApp__list__item .icon--remove {
  font-size: 30px;
  margin-right: 18px;
  color: gray;
  position: relative;
}
.todoApp__list__item .icon--remove::before {
  position: absolute;
  content: "";
  background-color: #19ba99;
  opacity: 0.3;
  top: -3px;
  width: 2px;
  height: 40px;
  right: -18px;
}
.todoApp__list__item .icon--remove:hover {
  color: red;
}
.todoApp__list__item .icon--check {
  font-size: 30px;
  color: gray;
  margin-left: 18px;
}
.todoApp__list__item .icon--check:hover {
  color: #19ba99;
}
.todoApp__list__item--checked {
  background-color: #ccf7ee;
  text-decoration: line-through;
  text-decoration-color: #19ba99;
}
.todoApp__list__item--checked .icon--check .icon--circled {
  opacity: 0;
}
.todoApp__list__item--checked .icon--check .icon--circled2 {
  opacity: 1;
}

/*# sourceMappingURL=styles.css.map */
