@use "./base/fonts" as *;
@use './base/reset';
@use './base/mixins' as *;
@use './base/variables' as *;
@import url("./base/icomoon/style.css");

body {
  width: 100%;
  margin: auto;
}

.todoApp {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 28px;
  background-color: #eef3f6;
  font-family: Roboto;
  font-size: 16px;
  width: 570px;
  margin: auto;
  &__form {
    position: relative;
    width: 100%;
    background-color: $green;
    height: 105px;
    padding: 20px;
    border-radius: 12px;
    &__button {
      position: absolute;
      font-size: 30px;
      top: 20px;
      right: 20px;
      width: 66px;
      height: 66px;
      background-color: white;
      border-radius: 50%;
      align-items: center;
      display: flex;
      justify-content: center;
      color: $green;
      &:hover {
        @include animation;
        animation: pulse 2s infinite;
      }
    }
    &__input {
      width: calc(100% - 33px);
      height: 66px;
      border-radius: 8px;
      border-width: 0;
      outline: none;
      padding: 25px;
      background-color: rgba(255, 255, 255, 0.3);
      color: white;
      font-size: 16px;
      &::placeholder {
        color: white;
        font-size: 16px;
        opacity: 0.8;
      }
      &--error {
        background-color: red;
      }
    }
  }
  &__list {
    padding: 20px;
    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @extend %button-base;
      .text {
        margin-right: auto;
      }
      .icon--circled {
        position: relative;
      }
      .icon--circled2 {
        position: absolute;
        color: $green;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -34px;
        opacity: 0;
      }
      .icon--remove {
        font-size: 30px;
        margin-right: 18px;
        color: gray;
        position: relative;
        &::before {
          position: absolute;
          content: "";
          background-color: $green;
          opacity: 0.3;
          top: -3px;
          width: 2px;
          height: 40px;
          right: -18px;
        }
        &:hover {
          color: red;
        }
      }
      .icon--check {
        font-size: 30px;
        color: gray;
        margin-left: 18px;

        &:hover {
          color: #19ba99;
        }
      }
      &--checked {
        background-color: $lightgreen;
        text-decoration: line-through;
        text-decoration-color: $green;
        .icon--check {
          .icon--circled {
            opacity: 0;
          }
          .icon--circled2 {
            opacity: 1;
          }
        }
      }
    }
  }
}
