
.icon-ok-circled:before { content: '\2714'; } /* '✔' */
.icon-plus:before { content: '\e0c1'; } /* '' */
.icon-ok-circled2:before { content: '\e702'; } /* '' */
.icon-trash-empty:before { content: '\e729'; } /* '' */